.trackings {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.trackings td, #trackings th {
border: 1px solid #ddd;
padding: 8px;
}
  
.trackings tr:nth-child(even){background-color: #f2f2f2;}
  
.trackings tr:hover {background-color: #ddd;}
  
.trackings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}